.nav-background{
    background-image: url("./index-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.text-options{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.color-background{
    background-color: rgb(99, 96, 96);
}
.opacity{
    opacity: 0.5;
    background-color: rgba(0,0,0);
}