body {
    padding: 0;
    margin: 0;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(121, 32, 153, 1) 86%);
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
}

.index-background{
    background-image: url("../resources/index-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-background{
    background-image: url("../resources/nav-background.png");
    height: 100vh;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.information-background{
    background-image: url("../resources/information-background.jpg");
    height: auto;
    background-position: center;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#information-background {
    background-image: url("../resources/information-background.jpg");
    height: auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    background-color: rgba(0, 0, 0,25%);
}
.text-options{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%; 
    text-align: center;
}

.line{
    color: #ffffff;
   

}
video{
    width: 430px;
    height: 390px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -220px;
    
}
.color-background{
    background-color: rgb(99, 96, 96);
}
/* 
.btn {
    border: none;
    color: #4169E1;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 8px 8px 2px ;
    transition-duration: 0.4s;
    cursor: pointer;

}
.btn-outline {
    border-radius: 25px;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #4169E1;
     border: 2px solid transparent; 
}

.btn-outline:hover {
    border-radius: 25px;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #4169E1;
    color: #ADD8E6;
}
.btn-black {
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
}

.btn-black:hover {
    border: 2px solid grey;
    background-color: transparent;
    color: grey;
    border-radius: 50px;
} */

/* .btn-search {
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    color: #4169E1;
    border: 2px solid #4169E1;
    border-radius: 50px;
}

.btn-search:hover {
    border: 2px solid #ADD8E6;
    background-color: transparent;
    color: #ADD8E6;
    border-radius: 50px;
}
#search{
    margin: 8px 2px 8px 8px;
    padding: 15px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border-color: black;
} 
*/
#regulations-background{
    background-image: url("./regulations-background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    

}
.regulations-text{
    color: #ffffff;
    background-color: rgba(0,0,0,35%);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}
.search-bar [list]::-webkit-list-button,
.search-bar [list]::-webkit-calendar-picker-indicator {
    display: none !important;
}
.nav_img{
    height: 95vh;
    width: 100vh;
}


#nav-text{
    background-color: rgba(0, 0, 0, 35%);
}


/* Új cucc */
#form {
    width: 400px;
    margin: 15vh auto 0 auto;
    border-radius: 5px;
    padding: 30px;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: #792099;
}

.input-group {
    display: flex;
    /* egymás allá teszi*/
    flex-direction: column;
    margin-bottom: 15px;

}

.input-group input {
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid skyblue;
}

.input-group .error {
    color: red;
    margin-top: 5px;
    font-size: 15px;

}

#form button {
    background-color: #792099;
    color: white;
    border: 1px solid #792099;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
}