.index-background{
    background-image: url("./index-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.text{
    color: #fff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}