html,body{
    font-family: 'Roboto', sans-serif;
}

.index-background{
    background-image: url("../resources/index-background.jpg");
    height: auto;
    background-position: center;
    background-size: cover;
}
.nav-background{
        background-image: url("../resources/nav-background.png");
        height: 100vh;
        background-position: center;
        background-size: cover;
}
.information-background{
    background-image: url("../resources/information-background.jpg");
    height: auto;
    background-position: center;
    /* background-size: cover; */
}
.text{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.text-options{
    color: #ffffff;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.line{
    color: #ffffff;
   

}
video{
    width: 430px;
    height: 390px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -220px;
    
}
.color-background{
    background-color: rgb(99, 96, 96);
}
.opacity{
    opacity: 0.5;
    background-color: rgba(0,0,0);
}
